<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Main</title>


        
        <link rel="stylesheet" type="text/css" href="../plugins/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="../plugins/slick/slick-theme.css"/>

        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">Logo</div>
            <div class="user">Username</div>
            <div class="logout">
                <a href="#">Logout</a>
            </div>
        </div>
        <div class="container">
            <div class="places__block">
                <div class="category__title">Free places</div>
                <div class="canvas__block"></div>
                <div class="canvas__description">
                    <div class="row">
                        <div class="description__color black"></div>
                        <div class="descripton__place">reserved</div>
                    </div>
                    <div class="row">
                        <div class="description__color white"></div>
                        <div class="descripton__place">free</div>
                    </div>
                </div>
            </div>
            <div class="reserve__block">
                <div class="category__title">Reserve a place</div>
                <form action="#">
                    <div class="form__row">
                        <label for="table_num">Table number:</label>
                        <input type="number" name="table_num">
                    </div>
                    <div class="form__row">
                        <label for="people_num">Number of people:</label>
                        <input type="number" name="people_num">
                    </div>
                    <div class="form-btn__block">
                        <button type="submit">Apply</button>
                    </div>
                </form>
            </div>
            <div class="review__block">
                <div class="category__title">Reviews</div>
                <div class="reviews">
                    <div class="review">
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, fugit.</div>
                        <div class="name">Lorem, ipsum.</div>
                    </div>
                    <div class="review">
                        <div class="text">Lorem, ipsum dolor..</div>
                        <div class="name">Lorem, ipsum.</div>
                    </div>
                    <div class="review">
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
                        <div class="name">Lorem, ipsum.</div>
                    </div>
                    <div class="review">
                        <div class="text">Lorem ipsum dolor sit amet consectetur.</div>
                        <div class="name">Lorem, ipsum.</div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="../plugins/slick/slick.min.js"></script>
      
        <script type="text/javascript">
          $(document).ready(function(){
            $('.reviews').slick();
          });
        </script>
    </body>
</html>
